/* Nav menu */
.nav-menu { user-select: none !important; -webkit-user-select: none !important; -ms-user-select: none !important; -webkit-user-drag: none !important; -khtml-user-drag: none !important; -moz-user-select: none !important; -o-user-select: none !important; pointer-events: none !important; padding-bottom: 12px; display: flex; justify-content: space-between; align-items: center; position: fixed; width: 100%; padding-bottom: 16px; z-index: 2000; }
.nav-left { width: 50%; display: flex; justify-content: flex-start; padding-left: 56px; }
.nav-right { padding: 24px; gap: 28px; display: flex; justify-content: flex-end; width: fit-content; pointer-events: all; }
.logo-svg { display: block; user-select: none; }
.icon-svg { cursor: pointer; transition: transform 0.2s ease; user-select: none; }
.icon-svg:hover { transform: scale(1.1); }
.app-logo { color: #e0e0e0; text-decoration: none; }
.nav-logo-text:hover { opacity: 0.7; }
.nav-text-link { pointer-events: all; font-size: clamp(0.9rem, 1.3vw, 1.3rem); font-weight: 500; color: #e0e0e0; text-decoration: underline; text-underline-offset: 3px; opacity: 0.85; transition: opacity 0.2s ease; }
.nav-text-link:hover { opacity: 0.5; }

/* Split Handler for block 1 */
@media (orientation: landscape) { .drag-arrow { padding-left: 1rem; padding-right: 1rem; } }
@media (orientation: portrait) { .drag-arrow { padding-left: 2rem; padding-right: 2rem; } }

/* Tool bar overlay */
.react-tooltip { border-radius: 0px !important; padding: 4px 8px 8px 4px; border: none !important; box-shadow: none !important; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); z-index: 1000; font-size: 100% !important; }
.tooltip-tag { pointer-events: none; display: flex; flex-direction: column; }

/* Media Queries */
@media (max-width: 767px) {
  .split-arrow svg {transform: scale(0.82) !important; }
  .pane-placeholder { height: 98dvh;}
}

@media (orientation: portrait) and (max-width: 1024px) and (min-width: 768px) {
  .split-arrow { scale: 1; }
}

@media (orientation: landscape) and (max-width: 1024px) and (min-width: 768px) {
  .split-arrow { scale: 0.8; }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .nav-menu { padding-bottom: 8px; }
  .pane-placeholder { height: 92dvh;}
}

@media (min-width: 1025px) {
  .nav-menu { padding-bottom: 4px; align-items: flex-start;}
  .nav-right { padding-right: 68px; gap: 24px !important; }
  .split-arrow { scale: 0.6; left: -0.6rem; position: relative;}
  .pane-placeholder { height: 96dvh;}
}

.Scroll.focus-locked { overscroll-behavior: contain; }
.Scroll.no-smooth { scroll-behavior: auto !important; }
.Scroll.no-snap { scroll-snap-type: none !important; }
.Scroll.snap-proximity { scroll-snap-type: y proximity !important; }
.Scroll.snap-strong { scroll-snap-type: y mandatory !important; }

#landing[data-prehydrate] .Scroll { scroll-snap-type: none !important; }
