/* src/styles/dynamic-app/title.css */

.moving-title { z-index: 6; }
.static-color-title { display: flex; flex-wrap: wrap; justify-content: center; }
.moving-letter, .moving-text-space { display: inline-block; }

/* Hero title for mobile devices */
@media screen and (max-width: 768px) {
  .title-container { background-color: #1e1f22; display: flex; flex-direction: column; align-items: center; justify-content: center; overflow: hidden; padding-top: 1.6rem; }
  .static-title { margin-bottom: 20px; padding-left: 1.6rem; padding-right: 0.8rem; z-index: 3; }

  .title-with-icon { display: flex; align-items: center; justify-content: center; white-space: normal; text-align: center; }
  .moving-title { position: relative; margin-top: -2.34rem; width: 100%; z-index: 2; }
  .moving-title h1 { font-weight: 200 !important; letter-spacing: -1.8px; }
  .moving-text-wrapper { display: flex; align-items: center; justify-content: center; line-height: 1.1; }
  #shadow-dynamic-app .moving-title { margin-top: -2.4rem; }
}

/* Hero title for tablet devices */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title-container { background-color: #1e1e1f; display: flex; flex-direction: column; align-items: center; justify-content: center; overflow: hidden; padding-top: 2.6rem; padding-bottom: 2.8rem; padding-left: 2.4rem; }
  #shadow-dynamic-app .title-container { padding-top: 1.6rem; }
  .static-title { margin-bottom: 20px; padding-left: 0rem; padding-right: 50%; z-index: 3; }

  .title-with-icon { display: flex; align-items: center; justify-content: center; white-space: normal; text-align: center; }
  .moving-title { position: relative; margin-top: -2.3rem; width: 100%; z-index: 2; }
  .moving-title h1 { font-weight: 200 !important; letter-spacing: -0.4px; }
  .moving-text-wrapper { display: flex; align-items: center; justify-content: center; line-height: 1.1; }
}

/* Hero title for desktop devices */
@media screen and (min-width: 1025px) {
  .title-container { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; margin: 0 auto; position: relative; }
  .static-title { z-index: 2; width: 50%; white-space: nowrap; text-align: center; }
  #shadow-dynamic-app .static-title { width: auto !important; }

  .title-with-icon { display: flex; align-items: center; justify-content: center; white-space: normal; text-align: center; }
  .moving-title { display: flex; justify-content: center; align-items: center; width: 66%; position: relative; margin-top: -1.2rem; }

  .moving-title h1 { font-weight: 200 !important; letter-spacing: 3.2px; }
  .moving-text-wrapper { display: flex; align-items: center; justify-content: center; line-height: 1.1; }

  #shadow-dynamic-app .moving-title { margin-top: 1.2rem; width: 60%; }
}

@media screen and (min-width: 2025px) {
  .moving-title { margin-top: -1.2rem; }
  #shadow-dynamic-app .moving-title { margin-top: 0rem; }
}
